<% if @message.errors.any? %>
  <div>
    <strong>Please fix these issues with your message:</strong>
    <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </p>
  </div>
<% end %>

<form method="post" action="/create_message">
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @message.author %>">
  </div>
  <div>
    <label>Subject:</label>
    <input type="text" name="title" value="<%= @message.title %>">
  </div>
  <div>
    <label>Content:</label>
    <input type="text" name="content" value="<%= @message.content %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>

